name: Android CI

on: [push,pull_request]

jobs:
  build:
    name: Android Compilation Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Checkout all submodules
      uses: textbook/git-checkout-submodule-action@2.0.0
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Copy secure values
      run: |
        echo $GOOGLE_SERVICES > ./app/google-services.json
      env:
        GOOGLE_SERVICES: ${{ secrets.GOOGLE_SERVICES }}
    - name: Reconfig gradlew file
      run: sed $'s/\r$//' ./gradlew > ./gradlew_unix
    - name: Make Gradle executable
      run: chmod +x ./gradlew_unix
    - name: Build with Gradle
      run: ./gradlew_unix build
  device-test:
    runs-on: macos-latest
    name: Android Device Test Runner
    steps:
    - name: checkout
      uses: actions/checkout@v1
    - name: Checkout all submodules
      run: git submodule update --init --recursive
    - name: Copy secure values
      run: |
        echo $GOOGLE_SERVICES > ./app/google-services.json
      env:
        GOOGLE_SERVICES: ${{ secrets.GOOGLE_SERVICES }}
    - name: Reconfig gradlew file
      run: sed $'s/\r$//' ./gradlew > ./gradlew_unix2
    - name: Make Gradle executable
      run: chmod +x ./gradlew_unix2
    - name: List Available Android Devices
      run: $ANDROID_HOME/tools/bin/avdmanager list
    - name: run tests
      uses: reactivecircus/android-emulator-runner@v1
      with:
        api-level: 28
        target: google_apis
        profile: 'pixel_xl'
        arch: x86_64
        script: ./gradlew_unix2 connectedAndroidTest
