name: Android CI

on: [push,pull_request]

jobs:
  build:
    name: Android Compilation Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Checkout all submodules
      uses: textbook/git-checkout-submodule-action@2.0.0
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Copy secure values
      run: |
        echo $GOOGLE_SERVICES > ./app/google-services.json
      env:
        GOOGLE_SERVICES: ${{ secrets.GOOGLE_SERVICES }}
    - name: Reconfig gradlew file
      run: sed $'s/\r$//' ./gradlew > ./gradlew_unix
    - name: Make Gradle executable
      run: chmod +x ./gradlew_unix
    - name: Build with Gradle
      run: ./gradlew_unix build
